:host {
  display: block;
  padding: 16px;
}

.detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .header-title {
    font-size: 20px;
    font-weight: 500;
  }
}

.detail-content {
  padding: 16px;
}

.task-main-title {
  font-size: 24px;
  margin-bottom: 8px;
}

.task-description {
  margin: 24px 0;
  line-height: 1.6;
  color: #5e6c84;
}

.info-list {
  list-style: none;
  padding: 0;
  margin: 24px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  li {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 0;
    font-size: 16px;

    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }

    mat-icon {
      color: #6b778c;
    }
  }
}

.stats-section {
  margin-top: 24px;

  h3 {
    font-weight: 500;
    margin-bottom: 16px;
  }

  .heatmap-placeholder {
    background-color: #f4f5f7;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    color: #7a869a;
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px; /* Ou height: 100% se o pai tiver altura definida */
  color: #666;
  gap: 16px; /* Espaço entre o spinner e o texto */

  p {
    margin: 0;
    font-size: 0.9rem;
  }
}

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 10px;
  color: #666;

  mat-icon {
    font-size: 48px;
    height: 48px;
    width: 48px;
    color: #f44336; // Vermelho de erro padrão do Material
  }
}
