<div class="task-list-page">
  <div class="header">
    <div class="title-container">

      <button mat-button class="category-filter-btn" [matMenuTriggerFor]="categoryMenu">
        <span class="button-content-wrapper">
          <mat-icon>label_outline</mat-icon>
          <span>{{ selectedTagId() === 'ALL' ? 'Todas' : selectedTagId() }}</span>
          <mat-icon>expand_more</mat-icon>
        </span>
      </button>

      <mat-menu #categoryMenu="matMenu">
        <button mat-menu-item (click)="changeTagFilter('ALL')">
          <mat-icon>layers_clear</mat-icon>
          <span>Todas</span>
        </button>

        @for (tag of availableTags(); track tag) {
          <button mat-menu-item (click)="changeTagFilter(tag)">
            <mat-icon>label_outline</mat-icon>
            <span>{{ tag }}</span>
          </button>
        }
      </mat-menu>

      <span class="date-display">{{ displayDate() }}</span>

    </div>

    <div class="calendar-icon">
      <input class="hidden-datepicker-input"
             [matDatepicker]="picker"
             (dateChange)="changeDateFilter($event)">
      <mat-datepicker #picker></mat-datepicker>

      <button mat-icon-button (click)="picker.open()" aria-label="Escolher data">
        <mat-icon>calendar_today</mat-icon>
      </button>
    </div>

  </div>

  <div class="filters">

    <mat-chip
      [class.active-chip]="selectedStatus() === TaskStatus.PENDING"
      (click)="changeStatusFilter(TaskStatus.PENDING)"
      (keydown.enter)="changeStatusFilter(TaskStatus.PENDING)"
      tabindex="0">
      Pendentes ({{ tasksCount().pendentes }})
    </mat-chip>

    <mat-chip
      [class.active-chip]="selectedStatus() === TaskStatus.COMPLETED"
      (click)="changeStatusFilter(TaskStatus.COMPLETED)"
      (keydown.enter)="changeStatusFilter(TaskStatus.COMPLETED)"
      tabindex="0">
      Concluídas ({{ tasksCount().concluidas }})
    </mat-chip>

    <mat-chip
      [class.active-chip]="selectedStatus() === TaskStatus.FAILED"
      (click)="changeStatusFilter(TaskStatus.FAILED)"
      (keydown.enter)="changeStatusFilter(TaskStatus.FAILED)"
      tabindex="0">
      Perdidas ({{ tasksCount().perdidas }})
    </mat-chip>
  </div>

  <div class="task-list-container">
    @for (group of groupedTasks(); track group[0]) {

      <div class="task-group">
        <h2 class="category-title">{{ group[0] }}</h2>

        @for (task of group[1]; track task.id) {
          <app-task-list-item
            [task]="task"
            [isCompleted]="isTaskCompleted(task.id)"
            (statusToggle)="onToggleTask(task, $event)">
          </app-task-list-item>
        }
      </div>

    } @empty {
      <div class="empty-state">
        <p>Nenhuma tarefa encontrada.</p>
      </div>
    }
  </div>

  <app-add-task-button></app-add-task-button>
</div>
