
  <article class="task-card" [class.completed]="isCompleted">

    <div class="task-icon-area">
      <span class="emoji">{{ task.icon || '📝' }}</span>
    </div>

    <div class="task-content" (click)="navigateToDetail()" (keydown.enter)="navigateToDetail()" tabindex="0">
      <header class="task-header">
        <h3 class="task-title">{{ task.title }}</h3>
      </header>

      <div class="task-meta">
      <span *ngIf="task.frequency && task.frequency !== 'NONE'" class="meta-item">
        <mat-icon class="mini-icon">repeat</mat-icon>
        {{ frequencyLabels[task.frequency] }}
      </span>

      <span class="meta-item" *ngIf="task.endDate">
        <mat-icon class="mini-icon">schedule</mat-icon>
          {{ task.endDate | relativeDate }}
      </span>

        <span class="meta-item xp-badge">
        <mat-icon class="mini-icon">star</mat-icon>
          {{ task.xpReward }} XP
      </span>
      </div>
    </div>

    <div class="task-action">
      <label class="custom-checkbox">
        <input
          type="checkbox"
          [checked]="isCompleted"
          (change)="onStatusChange($event)"
        >
        <span class="checkmark"></span>
      </label>
    </div>

  </article>

