<mat-card (click)="navigateToDetail()"
          (keydown.enter)="navigateToDetail()"
          tabindex="0">
  <div class="task-content">

    <div class="task-details">
      <p class="task-name">{{ task.title }}</p>

      <div class="task-meta">
        @if (task.frequency !== 'NONE') {
          <span class="meta-item">
            <mat-icon>sync</mat-icon>
            <span>{{ task.frequency }}</span>
          </span>
        }

        @if (task.endDate) {
          <span class="meta-item">
            <mat-icon>schedule</mat-icon>
            <span>{{ task.endDate | relativeDate }}</span>
          </span>
        }

      </div> <!-- fim task-meta -->
    </div> <!-- fim task-details -->

    <mat-checkbox
      [checked]="isCompleted"
      (change)="onStatusChange($event)"
      (click)="$event.stopPropagation()"
      (keydown.enter)="$event.stopPropagation()"
      aria-label="Marcar tarefa como concluída">
    </mat-checkbox>

  </div> <!-- fim task-content -->

</mat-card>
